<section class="wrapper main-wrapper row" style="">
    
    
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">撤销</h1>                            </div>

                            <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>主页</a>
                        </li>
                        <li>
                            <a href="crm-mail-inbox.html">应用管理</a>
                        </li>
                        <li class="active">
                            <strong>取消</strong>
                        </li>
                    </ol>
                </div>
                                
        </div>
    </div>
    <div class="clearfix"></div>
    

<div class="col-lg-12">
    <section class="box nobox ">
                <div class="content-body">    <div class="row">

        <div class="col-md-9 col-sm-8 col-xs-12 cancel-box">
            <div class="mail_content">

                <div class="row">
                    <div class="col-xs-12">
                        
    <h3 class="mail_head">撤销</h3>
    <i class='fa fa-refresh icon-primary icon-xs icon-accent mail_head_icon'></i>
    <i class='fa fa-search icon-primary icon-xs icon-accent mail_head_icon'></i>
    <i class='fa fa-cog icon-primary icon-xs icon-accent mail_head_icon pull-right'></i>


                        </div>

                    <div class="col-xs-12 mail_view_title">

                        <div class='pull-right'>
                            <button type="button" class="btn btn-default btn-icon"  data-color-class="primary" data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Send" data-placement="top">
                                <i class="fa fa-paper-plane-o icon-xs"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-icon"  data-color-class="primary" data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Save" data-placement="top">
                                <i class="fa fa-floppy-o icon-xs"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-icon"  data-color-class="primary" data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Trash" data-placement="top">
                                <i class="fa fa-trash-o icon-xs"></i>
                            </button>
                        </div>

                    </div>

                    <div class="col-xs-12 mail_view_info">

                        <div class="form-group mail_cc_bcc">
                            <label class="form-label">撤销应用名:</label>
                            <span class="desc"></span>
                            <div class="labels"><span class='label label-secondary cc'></span> <span class='label label-secondary bcc'></span>
                            </div>
                            <div class="controls">
                                <input type="text" class="form-control mail_compose_to" value="" />
                            </div>
                        </div>

                        <div class="form-group mail_compose_cc">
                            <label class="form-label"></label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control mail_compose_to" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">撤销版本:</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">撤销理由:</label>
                            <textarea class="mail-compose-editor" placeholder="Enter text ..." style="width: 100%; height: 250px; font-size: 14px; line-height: 23px;padding:15px;"></textarea>
                        </div>



                    </div>





                    <div class="col-xs-12">

                        <div class='pull-left'>
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-paper-plane-o icon-xs"></i> &nbsp; 提交
                            </button>
                            <button type="button" class="btn btn-purple">
                                <i class="fa fa-floppy-o icon-xs"></i> &nbsp; 取消
                            </button>
                           <!-- <button type="button" class="btn btn-secondary">
                                <i class="fa fa-trash-o icon-xs"></i> &nbsp; TRASH
                            </button>  -->
                        </div>

                    </div>





                </div>

            </div>
        </div>

    </div>
    </div>
        </section></div>
    
    
    
</section>