<section class="wrapper main-wrapper row">
    
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">滚动升级</h1>                            
            </div>

                            <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>主页</a>
                        </li>
                        <li>
                            <a href="eco-categories.html">应用管理</a>
                        </li>
                        <li class="active">
                            <strong>滚动升级</strong>
                        </li>
                    </ol>
                </div>
                                
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"></h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
    <div class="row">
    <form action ="#" method="post">
                    <div class="col-xs-12 col-sm-9 col-md-8">
                                    <div class="form-group">
                            <label class="form-label" for="field-15121">应用名称：</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="" class="form-control" id="field-15121">
                            </div>
                        </div>

            <div class="form-group">
                            <label class="form-label" for="field-1678">升级镜像：</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="" class="form-control" id="field-1678">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="form-label" >升级间隔：</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <!--    升级间隔 拖动  -->
                                <div class="form-group">
                    <label class="form-label">默认间隔</label>
                    <div class="controls">
                        <div class="sl  ider slider-primary ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="0" data-max="1800" data-value="223"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 12.3889%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 12.3889%;"><span class="ui-label">223</span></span></div>
                    </div>
                </div><div class="clearfix spacer20"></div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                             	<div class="text-left">
                                <button type="button" class="btn btn-primary">提交</button>
                                <button type="button" class="btn">取消</button>
                            </div>
                        </div>
                    </form>
    </div>


    </div>
        </section></div>
</section>
