<section class="wrapper main-wrapper row">
    
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">创建访问点</h1>                            
            </div>

                            <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>主页</a>
                        </li>
                        <li>
                            <a href="eco-categories.html">扩展功能</a>
                        </li>
                        <li class="active">
                            <strong>访问点创建</strong>
                        </li>
                    </ol>
                </div>
                                
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left"></h2>
            </header>
            <div class="content-body">
    <div class="row">
    <form action ="#" method="post">
                    <div class="col-xs-12 col-sm-9 col-md-8">
                                    <div class="form-group">
                            <label class="form-label" for="field-15121">应用名称</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="" class="form-control" id="field-15121">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="field-1678">访问点</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" value="" class="form-control" id="field-1678">
                            </div>
                        </div>


                        


                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                             	<div class="text-left">
                                <button type="button" class="btn btn-primary">提交</button>
                                <button type="button" class="btn">取消</button>
                            </div>
                        </div>
                    </form>
    </div>


    </div>
        </section></div>
</section>
