<section class="wrapper main-wrapper row">
    
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">扩展功能</h1>                            </div>

                            <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>主页</a>
                        </li>
                        <li>
                            <a href="charts-echart-line.html">扩展功能</a>
                        </li>
                        <li class="active">
                            <strong>扩展功能</strong>
                        </li>
                    </ol>
                </div>
                                
        </div>
    </div>
    <div class="clearfix"></div>
    
<div class="col-xs-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">服务</h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    <div class="row">
        <div class="col-xs-12">
              <div class="chart-container">
                  <div class="" style="height:200px" id="user_type_bar"></div>
              </div>
        </div>      
    </div> <!-- End .row -->
    </div>
        </section></div>



<div class="col-xs-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">访问点</h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    <div class="row">
        <div class="col-xs-12">
              <div class="chart-container">
                  <div class="" style="height:200px" id="browser_type_bar"></div>
              </div>


        </div>      
    </div> <!-- End .row -->
    </div>
        </section></div>

<div class="col-xs-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Today Visitors</h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    <div class="row">
        <div class="col-xs-12">
          <div class="chart-container">
              <div class="chart has-fixed-height" style="height:200px" id="page_views_today_bar"></div>
          </div>
        </div>      
    </div> <!-- End .row -->
    </div>
        </section></div>
    
    
    
</section>