<section class="wrapper main-wrapper row">
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">云盘管理</h1>                            
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>主页</a>
                    </li>
                    <li>
                        <a href="uni-staffs.html">云盘管理</a>
                    </li>
                    <li class="active">
                        <strong>云盘列表</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

<div class="col-lg-12">
<section class="box ">
    <header class="panel_header">
        <h2 class="title pull-left">All Staffs</h2>
        <div class="actions panel_actions pull-right">
            <a class="box_toggle fa fa-chevron-down"></a>
            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
            <a class="box_close fa fa-times"></a>
        </div>
    </header>
<div class="content-body">    <div class="row">
<div class="col-xs-12">

<div class="row">


    <div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
        <div class="team-member col">
            <div class="team-img col-lg-4 col-xs-4">
                <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
            </div>                         
            <div class="team-info col-lg-8 col-xs-8">
                <h4>
                    <a href="uni-staff-profile.html">
                    Mrs. Brodeur</a>
                </h4>

                    <span class='team-member-edit'>
                        <a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a>
                    </span>


                <span>
                    Assistant, Library<br>
                    <small>Age:</small> 45 yrs<br>
                    <small>Phone:</small> +1 233 454 4343<br>
                    <small>Email:</small> email@example.com
                </span>
            </div>

        <p>
        </div>
    </div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
                <a href="uni-staff-profile.html">
                Ms. Latshaw</a>
            </h4>
            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Dept. Head, Administration<br>
                <small>Age:</small> 39 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
                <a href="uni-staff-profile.html">
                Mrs. Clementina</a>
            </h4>

            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Manager, Housekeeping<br>
                <small>Age:</small> 34 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


    <div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
        <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
            <a href="uni-staff-profile.html">
            Mr. Carri Busey</a>
            </h4>
            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Manager, Library<br>
                <small>Age:</small> 29 yrs<br>

                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
        </div>
    </div>


    <div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
        <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
                <a href="uni-staff-profile.html">
                Ms. Clay Dock</a>

            </h4>

        <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
        <span>
            Clerk, Library<br>
                <small>Age:</small> 65 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
        </span>
        </div>

        <p>
        </div>
    </div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
    <div class="team-img col-lg-4 col-xs-4">
        <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
    </div>                         
    <div class="team-info col-lg-8 col-xs-8">
        <h4>
            <a href="uni-staff-profile.html">
            Mr. Mark Peskin</a>
        </h4>
    <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>

    <span>
        Assistant, Mechanical Lab<br>
        <small>Age:</small> 57 yrs<br>
        <small>Phone:</small> +1 233 454 4343<br>
        <small>Email:</small> email@example.com
    </span>
    </div>
    <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
                <a href="uni-staff-profile.html"> Mr. Arthur John.</a>
            </h4>

            <span class='team-member-edit'>
                <a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a>
            </span>


            <span>
                Assistant, Electronics Lab<br>
                <small>Age:</small> 65 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4> 
                <a href="uni-staff-profile.html">
            Mr. Carri Busey</a>
            </h4>

            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Assistant, Computer Lab<br>
                <small>Age:</small> 29 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
                <a href="uni-staff-profile.html">
                Ms. Clay Dock</a>
            </h4>

            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>

            <span>
                Front Desk, Administration<br>
                <small>Age:</small> 65 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
            <a href="uni-staff-profile.html">
            Mr. Mark Peskin</a>
            </h4>

            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Assistant, Sports<br>
                <small>Age:</small> 57 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
        <div class="team-img col-lg-4 col-xs-4">
            <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
        </div>                         
        <div class="team-info col-lg-8 col-xs-8">
            <h4>
            <a href="uni-staff-profile.html">
            Mr. Arthur John.</a>
            </h4>

            <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>
                Clerk, Administration<br>
                <small>Age:</small> 65 yrs<br>
                <small>Phone:</small> +1 233 454 4343<br>
                <small>Email:</small> email@example.com
            </span>
        </div>

        <p>
    </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 col-md-12 music_genre">
    <div class="team-member col">
    <div class="team-img col-lg-4 col-xs-4">
        <img class="img-responsive" src="data/uni-staffs/img-1.png" alt="">
    </div>                         
    <div class="team-info col-lg-8 col-xs-8">
        <h4>
        <a href="uni-staff-profile.html">
        Mrs. Jonh A.</a>
        </h4>

        <span class='team-member-edit'><a href="uni-staff-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
        <span>
            Assistant, Front Desk<br>
            <small>Age:</small> 29 yrs<br>

            <small>Phone:</small> +1 233 454 4343<br>
            <small>Email:</small> email@example.com
        </span>
    </div>

    <p>
    </div>
</div>
</div>

</div>
</div>
</div>
</section></div>
</section>