<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>容器云管理平台</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<link href="styles/lib/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="styles/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="styles/common/animate.min.css" rel="stylesheet" type="text/css"/>

	<link href="styles/lib/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" type="text/css"/>
	<link href="styles/lib/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen"/>

	<link href="styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="mainController">
<div ui-view class="main"></div>
<script src="scripts/lib/require/require.js" data-main="scripts/main"></script>
</body>
</html>