<section class="wrapper main-wrapper row">
        <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">镜像管理</h1>                            </div>

                                
        </div>
    </div>
    <div class="clearfix"></div>
    

<div class="col-lg-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">精选镜像</h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
    <div class="row"><div class="col-md-12">



                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-3.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Modern Roc..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Mellisa</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-4.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Hard Metal..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jude</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-1.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Love.</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jack</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-4.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Instrument..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jackson</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-1.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Made for y..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Law Tiger</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-2.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Kiss the s..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Misterious</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-3.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            In the Dep..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Blank</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-4.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Volcano..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Martini</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-1.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Juicy touc..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jingle</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-2.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Modern Roc..</a>
                            
                                                        
                            </h4>

       width: 19.666667%;
    height: 280px;
                                                        <span><a href="mus-artist-profile.html">Mellisa</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-3.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Hard Metal..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jude</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-4.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Love.</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jack</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-1.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Instrument..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jackson</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-2.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Made for y..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Law Tiger</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-3.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Kiss the s..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Misterious</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-4.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            In the Dep..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Blank</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-1.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Volcano..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Martini</a></span>
                                                    </div>

                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        
                                    <div class="thumb">
                                    <img class="img-responsive" src="data/albums/pic-2.png">
                                    <div class="overlay"><a href="mus-album-view.html"><i class="fa fa-play"></i></a></div>
                                    </div>

                                                <div class="team-info ">
                            <h4>
                            
                            
                            <a href="mus-album-view.html">
                            Juicy touc..</a>
                            
                                                        
                            </h4>

   
                                                        <span><a href="mus-artist-profile.html">Jingle</a></span>
                                                    </div>

                    </div>
                </div>
            </div></div>

    </div>
        </section></div>


<div class="col-lg-12">
    <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">全部镜像 </h2>
                <div class="actions panel_actions pull-right">
                	<a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
    <div class="row"><div class="col-md-12">



                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">ligula pel..</a></h4>
                            <span>ahayes0</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">at ipsum a..</a></h4>
                            <span>dross1</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">amet eleif..</a></h4>
                            <span>bphillips2</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-2.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">nulla moll..</a></h4>
                            <span>sramos3</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-3.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">nulla temp..</a></h4>
                            <span>sdean4</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-4.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">felis ut a..</a></h4>
                            <span>amyers5</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">vel enim s..</a></h4>
                            <span>gaustin6</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-2.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">nibh quisq..</a></h4>
                            <span>jharper7</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-3.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">nulla dapi..</a></h4>
                            <span>amartinez8</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-4.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">etiam vel ..</a></h4>
                            <span>hallen9</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">duis ac ni..</a></h4>
                            <span>pcarrolla</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-2.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">montes nas..</a></h4>
                            <span>mharrisb</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-3.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">eros suspe..</a></h4>
                            <span>rwoodsc</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-4.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">nisl duis ..</a></h4>
                            <span>spattersond</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-1.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">vulputate ..</a></h4>
                            <span>afishere</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-2.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">fusce cong..</a></h4>
                            <span>cwilsonf</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-3.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">augue vest..</a></h4>
                            <span>rholmesg</span>
                        </div>

                        <p>
                    </div>
                </div>
            

                <div class="col-lg-2 col-sm-4 col-xs-6 music_genre">
                    <div class="team-member ">
                        <div class="team-img thumb ">
                            <img class="img-responsive" src="data/albums/pic-4.png" alt="">
                            <div class="overlay">
                                <a href="mus-song-view.html"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                        <div class="team-info ">
                            <h4><a href="mus-genre-profile.html">magna ac c..</a></h4>
                            <span>wfranklinh</span>
                        </div>

                        <p>
                    </div>
                </div>
            



    </div></div>
    
    </div>
        </section></div>

</section>