<section class="wrapper main-wrapper row">
        <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">查找镜像</h1>                            </div>

                                
        </div>
    </div>
    <div class="clearfix"></div>
    
<div class="col-lg-12">
    <section class="box nobox ">
                <div class="content-body">    <div class="row">

        <div class="col-xs-12 col-md-9">

            <div class="input-group primary">
                <span class="input-group-addon">                
                    <span class="arrow"></span>
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control search-page-input" placeholder="Search" value="">
            </div><br>
        </div>
        <div class="col-xs-12 col-md-3">
            <nav class='pull-right'>
                

            </nav>
        </div>

        <div class="clearfix"></div><br>

        <div class="col-xs-12 search_data">
					

            <div class="tab-content vertical col-xs-9 col-md-10 left-aligned">
                <div class="tab-pane fade in active" id="web-1">

                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/1.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/2.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/3.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/4.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/3.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/1.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>
                    <div class="search_result">
                        <div class="pull-left col-sm-2 col-xs-3"><img class="img-responsive" src="data/search/2.png"></div>
                        <div class="pull-left col-sm-10 col-xs-9">
                            <h4><a href="#">Contrast and Similiarity in Graphic Desigh</a></h4>
                            <p>Graphic design is the art of visual communication through the use of images, words, and ideas to give information to the viewers. <a href="#" class="pull-right"><small>Read More...</small></a></p>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="images-1">

                    <p class="col-md-12">Images Search Results</p>

                </div>
                <div class="tab-pane fade" id="contacts-1">

                    <p>Contacts Search Results</p>


                </div>

                <div class="tab-pane fade" id="projects-1">
                    <p>Projects Search Results</p>

                </div>

                <div class="tab-pane fade" id="map-1">
                    <p>Location and Maps Search Results</p>
                </div>
                <div class="tab-pane fade" id="videos-1">
                    <p>Videos Search Results</p>
                </div>
                <div class="tab-pane fade" id="messages-1">
                    <p>Messages Search Results</p>
                </div>
                <div class="tab-pane fade" id="profile-1">
                    <p>Profile Search Results</p>
                </div>



            </div>








        </div>
    </div>
    </div>
        </section></div>
    
</section>